build:
  maxIssues: 0

complexity:
  active: true
  LongMethod:
    active: true
    threshold: 60
  LongParameterList:
    active: true
    functionThreshold: 6

coroutines:
  active: true

exceptions:
  active: true

naming:
  active: true

performance:
  active: true

potential-bugs:
  active: true

style:
  active: true
  MaxLineLength:
    active: true
    maxLineLength: 140
